body {
  background-color: #b9540c;
  /* overflow: hidden; */
  min-width: 35rem;
}

.character:nth-child(even) .overlay {
  top: 100%;
}
.character:hover .overlay {
  opacity: 1;
  pointer-events: all;
  top: 0;
}
