:root {
  --color_primary: rgb(0, 0, 0);
  --color_secondary: '';
  --color_background: rgb(255, 255, 255);

  --color_primary: rgb(255, 255, 255);
  --color_secondary: rgb(230, 230, 230);
  --color_favorite: rgb(240, 112, 112);
  --color_background: rgb(100, 10, 70);
  --color_background_secondary: rgb(100, 100, 100);
}

* {
  box-sizing: border-box;
}
body {
  min-height: 98vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 2rem;
  background-color: var(--color_background);
  color: var(--color_primary);
  font-family: 'Raleway', sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
}

.header__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  font-size: 0rem;
}

.poke-menu__list-items {
  list-style: none;
  display: flex;
}

/* items del menu
  .poke-menu__item {}
*/

.poke-menu__link {
  display: block;
  padding: 1rem;
  margin: 0.2rem;
  background-color: var(--color_background_secondary);
  text-decoration: none;
  color: inherit;
}
.poke-list__list,
.my-poke-list__list {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 8rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  list-style: none;
}
.poke-item {
  border: 1px solid var(--color_background_secondary);
  padding-left: 0.2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.poke-item__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color_secondary);
  display: flex;
  align-items: center;
}
.poke-item__link-label {
  text-transform: capitalize;
}

.poke-item__link-sprite {
  position: relative;
}

.poke-item__link-sprite-back {
  position: absolute;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  z-index: 101;
}

.poke-item__link-sprite:hover .poke-item__link-sprite-front {
  transform: rotateY(180deg);
}

.poke-item__link-sprite:hover .poke-item__link-sprite-back {
  transform: rotateY(0deg);
}

.poke-item__link-sprite-front,
.poke-item__link-sprite-back {
  transition: 1s;
}

.poke-item__fav {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding-top: 0.2rem;
  padding-right: 0.2rem;
  cursor: pointer;
}

.poke-item__fav--favorite {
  color: var(--color_favorite);
}

.pagination {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.pagination__button {
  width: 40%;
  height: 3rem;
}

.detail-title__poke-name {
  color: var(--color_secondary);
  font-size: 1.6em;
  padding-left: 0.3em;
  text-transform: capitalize;
}

.poke-detail ul,
.poke-detail li {
  padding-left: 0.5rem;
}
.poke-detail > ul > li > span,
.poke-detail > ul > li > details > summary {
  color: var(--color_favorite);
  font-weight: 400;
}

.footer {
  margin-top: 1rem;
  display: grid;
  place-items: center;
}

@media (min-width: 470px) {
  .header__main {
    flex-direction: row;
  }
}
